main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 10vh;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #234d8b;
}

h2,
h3 {
  color: #222831;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: small;
  margin-bottom: 0;
  line-height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.AmericanExpress {
  background-color: #0071d1 !important;
  color: #fffdfe !important;
}

.Visa {
  background-color: #ffa336 !important;
  color: #ffffff !important;
}

.MasterCard {
  background-color: #cc0001 !important;
  color: #dddddd !important;
}
